@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.intro{
    text-align: left;
}
NAV{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10PX 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    color: red;
    position: fixed;
    margin: 0 20PX;
    flex-wrap: wrap;
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.food{
    list-style:none ;
    display: flex;
}
.food li a{
    padding: 0 20px;
    text-decoration: none;
    color: rgb(235, 119, 119);
    font-size: 20px;
    text-align: center;
    position: relative;
    transition: 0.3s ease-in;
    font-weight: bolder;
}
.food a:hover{
    color: black;
    transition: 0.3s ease-in;
    background-color: rgb(144, 94, 190);
    border-radius: 9px;
    
}

button{
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 50px;
    background-color: rgb(196, 51, 51);
    margin: 0 70px;
    text-decoration: none;
    font-family: 'Lucida Sans';

}
button:hover{
    color: white;
    background-color: rgb(53, 50, 57);
}

.LAP{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0,0, 0.5),rgba(0, 0,0, 0.5)), url(pexels-chanwalrus-958545.jpg) no-repeat center center;
    background-size: cover; /* Add this line */
    position: relative;
    top: 0px;
    text-align: center;
    margin-left: auto;
    background-attachment: fixed;
    margin-right: auto;
    color: red;
    padding-top: 350px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    background-color: rgb(17,17,15);
}
.if a :hover{
color: white;
transition: 0.3s;
text-decoration: none;

}

.OUR{
    
    padding: 40PX;
    margin-bottom: 20PX;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: xx-large;
}
.FI{
    font-weight: bold;
    font-optical-sizing: auto;
    font-family: Impact;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    color: red;

}

.VIDEOS-CONTANINER{
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
    align-items: center;
    padding-top: 20px;
    grid-template-columns: repeat(auto-fit, mima( 360px 1fr));
}

.gf span{
    color: blueviolet;
    text-shadow: 10px 10px 5px rgb(133, 54, 206);
}


.VICTOR{
    text-align: center;
    font-weight: bolder;
    color: rgb(248, 12, 12);
    font-family: Impact;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;

}

.give{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px;
    max-width: 100%;
    justify-content: center;
    text-align: center;
}
.give .content{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
max-width: 1000px;
}
.vic{
    font-size: 20px;
    line-height: 1.6;
    width: 30%;
    padding-right: 5px;
    text-align: justify;
}
.you{
    max-width: 500px;
    height: 350px;
    padding-left: 30px;
}

.HUD{

    color: rgb(224, 15, 15);
text-align: center;
font-family: 'Times New Roman';
font-size: xx-large;

}
.done{
    font-family: 'Times New Roman';
    margin-left: 30PX;
    padding-left: 150PX;
    font-weight: bolder;
    font-size: x-large;
}

.has{
    text-align: center;
    font-family: 'Times New Roman';
    color: red;
}
.id{
    align-items: center;
}
.image{
    align-items: center;
    padding-top: 40px ;
    border-radius: 10px;
}
.give:hover img{
transition: transform 1s ease-in-out;
-webkit-transform: rotate(1800deg);
-moz-transform: rotate(1800deg);
-o-transform: rotate(1800deg);
-ms-transform: rotate(1800deg);
transform: rotate(1800deg);

}
.ORDER{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-family: 'Times New Roman';
    padding: 15px;
    margin-top: 50px;
}
.rest{
    font-family:'Lucida Sans' ;
    font-size: x-large;
    font-weight: bold;
    padding: 5px;
}
.picture{
    padding: 50px;
    max-width: 1200;
    margin: 0 auto;
}
.allimage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.placeorder{
text-align: center;
background-color:rgb(196, 190, 190);
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 7px rgb(2, 2, 2);
transition: transform 0.3s ease-in-out;
font-family: algerian;
}
a{
    text-decoration: none;
    color: rgb(239, 79, 79);
}
.placeorder h3{
    font-size: 18px;
    text-decoration: none;
    color: rgb(11, 11, 11);

}
.placeorder:hover{
    transform: scale(1.05);
    
}


.form{
    background-color: rgb(211, 211, 207);
    padding: 50px;
    margin: 50px auto;
    width: 50%;
    box-shadow: black;
    border-radius: 10PX;
}
   
.joob{
    margin: 15px;
    font-size: xx-large;
    font-family: "Dancing Script", cursive;
    color: rgb(224, 15, 15);
    text-align: center;
}

.FORM-GROUP{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.FORM-GROUP {
    padding: 2px 2px;
    border: none;
    color: white;
    margin: 0 70px;
    text-decoration: none;
    font-family: 'Lucida Sans';
    contain: content;

}


.FORM-GROUP label { 
font-size: 25px;
color: rgb(119, 50, 65);
margin-bottom: 5px;
font-weight: bolder;
text-align: center;
}
.FORM-GROUP input,
.FORM-GROUP textarea{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid rgb(205, 88, 88);
    border-radius: 5px;
    transition: 0.3s;
}
.FORM-GROUP input:focus,
.FORM-GROUP textarea :focus{
    outline: none;
    border-color: blue;
}
.FORM-GROUP textarea{
resize: vertical;
height: 150px;
}
.footer{
   
    font-size: large;
    background-color:black;
    padding: 20px;
    border-radius: 2%;

    }

    
    .BUT{
        margin-top: 25px;
    }

p{
    margin: 10px;
    text-align: center;
    color: white;
}


#check {display: none;}
.open, .close{
    position: absolute;
    color: rgb(243, 57, 57);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close{
    top: 20px;
    right: 20px;
}




/*MOBLE VIEW-SCREENE SMALLERTHEN 768*/
@media(max-width:768px) {

  body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html, body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.LAP{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


    .food{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        position: fixed;
        height: 60vh;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #232424;
        transition: all 0.5s ease-in-out;
    }

    .food li{margin-top: 40px;}
    .food li a{padding: 10px;
    }
    .open, .close{
        display: block;}
    #check:checked ~ .food{right: 0;}

    .open{
        right: 80px;
    }


    nav button{
        display: none;
    }

    .placeorder{
     width: 100%;
     height: auto;
    }

    .allimage{
        grid-template-columns: repeat(2,1fr);
    }
    

    /* hero section */
.hero .header{
    margin-top: 230px;
    margin-left: 10px;
    font-size: 50px;

}
.sub-header{
    margin-left: 15%;
    margin-top: 350px;
    font-size: 25px;
}
.hero{
    width: 100vw;
    height: 350px;
    overflow: hidden;

}
/* video section */
   .VIDEOS-CONTANINER{
    grid-template-columns: 1fr;
    padding-right: 5px;
   }
   /* give section */
.give.content{
    flex-direction: column;
    text-align: center;
}   
.vic{
    width: 100%;
    padding: 0px;
    text-align: justify;
}

.you{
    width: 100%;
    margin-top: 20px;
}
.seed{
    grid-template-columns: 1fr;
}
/* contact from */
form{
    width: 90%;
    padding: 30px;
    align-items: center;
}
.form label {
    font-size:  16px ;

}

.BUT{ 
   
    font-size: 20px;

    }

    .form{
        width: 80%;
    }



footer
footer p{
    font-size: 14px;
}
#footer{
    width: 100vw;
}
}
/*tablet view - screens between 768px and 1024px*\
